#carrito_compras{
    .tittle_cart{
        
        h1{
            text-align: center;
            margin-bottom: 19.9px;

        }
    }
    .Cart_items{
        display: flex;
        justify-content: space-between;
        .table_items{
            thead{
                tr{
                    .table_itemb{
                        padding: 10px;
                        text-align: center;
                    }
                }
            }
            tbody{
                tr{
                    .table_itemb{
                        text-align: center;
                        padding: 10px;
                        .fotos_cart{
                            width: 100px;
                            height: 100px;
                        }
                    }

                }
            }
        }
        .Detalle_orden{
        }
    }
}
@media only screen and (max-width: 480px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #carrito_compras{
            .tittle_cart{
                
                h1{
                    text-align: center;
                    margin-bottom: 20px;
        
                }
            }
            .Cart_items{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                .table_items{
                    thead{
                        tr{
                            .table_itemb{
                                padding: 10px;
                                text-align: center;
                            }
                        }
                    }
                    tbody{
                        tr{
                            .table_itemb{
                                text-align: center;
                                padding: 10px;
                                .fotos_cart{
                                    width: 100px;
                                    height: 100px;
                                }
                            }
        
                        }
                    }
                }
                .Detalle_orden{
                }
            }
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 600px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #carrito_compras{
            .tittle_cart{
                
                h1{
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
            .Cart_items{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                .table_items{
                    thead{
                        tr{
                            .table_itemb{
                                padding: 10px;
                                text-align: center;
                            }
                        }
                    }
                    tbody{
                        tr{
                            .table_itemb{
                                text-align: center;
                                padding: 10px;
                                .fotos_cart{
                                    width: 100px;
                                    height: 100px;
                                }
                            }
                        }
                    }
                }
                .Detalle_orden{
                    align-items: center;
                }
            }
        }
    }
}
@media only screen and (min-width: 601px) and (max-width: 768px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #carrito_compras{
            .tittle_cart{
                
                h1{
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
            .Cart_items{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                .table_items{
                    thead{
                        tr{
                            .table_itemb{
                                padding: 10px;
                                text-align: center;
                            }
                        }
                    }
                    tbody{
                        tr{
                            .table_itemb{
                                text-align: center;
                                padding: 10px;
                                .fotos_cart{
                                    width: 100px;
                                    height: 100px;
                                }
                            }
                        }
                    }
                }
                .Detalle_orden{
                    align-items: center;
                }
            }
        }
    }
}