@media (max-width: 480px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .homeCentral {
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #footerHome {
            border-top: 1px solid chocolate;
            margin: 5px;
            padding: 5px;
            margin-left: 10px;
            margin-right: 10px;
            width: 95vw;
            
            
            a {
                text-decoration: none;
            }
            
            .contactForm {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-top: 30px;
                gap: 20px;
                width: 100%;
                align-items: center;
                text-align: center;
                
                .suscribe {
                    margin-right: 10px;
                    padding-top: 5px;
                    font-family: "Inter", sans-serif;
                    margin-left: 20px;
                    width: 100%;
                    
                    p {
                        font-weight: 600;
                    }
                }
                
                .formSub {
                    width: 100%;
                    form{

                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        
                        
                        .emailClib {
                            height: 30px;
                            text-align: center;
                        }
                        
                        #emailCliente {
                            
                        }
                        
                        
                        .button.emailClib {
                            background: #ffa040;
                            border: 0px;
                        }
                        
                        .botton1 {
                            color: white;
                            background: #ffa040;
                            border: 0px;
                        }
                            
                    }
                
                }
            }
            
            .sectionFooter {
                display: flex;
                justify-content: space-between;
                font-family: 'Inter', sans-serif;
                flex-direction: column;
                .informationEntrepise {
                    padding-top: 7px;
                    padding-bottom: 10px;                    
                    .logoFooter {
                        padding-bottom: 10px;
                        text-align: center;
                    
                    }
                    
                    .informationEnterpise {
                        text-align: center;                       
                        .infEnter {
                            padding-top: 10px;
                            font-family: 'Mulish', sans-serif;
                            margin-bottom: 0px;
                            color: #7d7d7d;
                        }
                    }
                }
                
                .socialMediaContact {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    text-align: center;
                    
                    .socialMediaContactS {
                        display: flex;
                        justify-items: center;
                        flex-direction: column;
                        width: 100%;
                        
                        .socialSubicon {
                            height: 30px;
                            width: 30px;
                            align-items: center;
                        }
                        
                        .informationBus {
                            padding-top: 8px;
                            padding-left: 4px;
                            width: 100%;
                        }
                    }
                }
                .itemsCaregory{
                    display: flex;
                    flex-direction: column;

                    .categories {
                        padding-top: 30px;
                        text-align: center;
                        
                        .tittleFooterC {
                            color: #7c667c;
                            font-weight: 700;
                        }
                        
                        .subListFooter {
                            list-style: none;
                            padding: 5px;
                            
                            .subFooter {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                
                                a {
                                    color: #7d7d7d;
                                }
                            }
                            
                            .subFooter:hover {
                                background-color: nth($list: $colores, $n: 1);
                                color: #7c667c;
                                font-weight: 600;
                            }
                        }
                        
                        .textFooter {
                            
                        }
                    }
                    
                    .accountCustomer {
                        padding-top: 10px;
                        text-align: center;
                        
                        .tittleFooterC {
                            color: #7c667c;
                            font-weight: 700;
                        }
                        
                        .subListFooter {
                            list-style: none;
                            padding: 5px;
                            
                            .subFooter {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                
                                a {
                                    color: #7d7d7d;
                                }
                            }
                            
                            .subFooter:hover {
                                background-color: nth($list: $colores, $n: 1);
                                color: #7c667c;
                                font-weight: 600;
                            }
                        }
                        
                        .textFooter {
                            
                        }
                    }
                    
                    .informationCompany {
                        padding-top: 10px;
                        text-align: center;
                        
                        .tittleFooterC {
                            color: #7c667c;
                            font-weight: 700;
                        }
                        
                        .subListFooter {
                            list-style: none;
                            padding: 5px;
                            
                            .subFooter {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                
                                a {
                                    color: #7d7d7d;
                                }
                            }
                            
                            .subFooter:hover {
                                background-color: nth($list: $colores, $n: 1);
                                color: #7c667c;
                                font-weight: 600;
                            }
                        }
                    } 
                }
                    .textFooter {
                        
                    }
                
            }
            
            .socialMedia {
                padding-top: 10px;
                
                div {
                    padding-top: 15px;
                    margin-left: 10px;
                    text-align: center;
                    font-family: 'Mulish', sans-serif;
                    
                    p {
                        margin-bottom: 5px;
                    }
                } 
                
                .socialMediaA {
                    padding-bottom: 10px;
                    text-align: center;
                    padding-top: 0px;
                    
                    .socialIcon {
                        height: 30px;
                    }
                }
            }
            
            .footerCopyrigth {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid grey;
                flex-direction: column;
                
                .copyFooter {
                    padding-top: 10px;
                    text-align: center;
                }
                
                .footerImagePayment {
                    padding-top: 10px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    } 
}
@media (min-width: 481px) and (max-width: 768px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .homeCentral {
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #footerHome {
            border-top: 1px solid chocolate;
            margin: 5px;
            padding: 5px;
            margin-left: 10px;
            margin-right: 10px;
            width: 95vw;
            
            
            a {
                text-decoration: none;
            }
            
            .contactForm {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-top: 30px;
                gap: 20px;
                width: 100%;
                align-items: center;
                text-align: center;
                
                .suscribe {
                    margin-right: 10px;
                    padding-top: 5px;
                    font-family: "Inter", sans-serif;
                    margin-left: 20px;
                    width: 100%;
                    
                    p {
                        font-weight: 600;
                    }
                }
                
                .formSub {
                    width: 100%;
                    form{
                        display: flex;
                        gap: 5px;
                        .emailClib {
                            height: 30px;
                            text-align: center;
                        }
                        
                        #emailCliente {
                            width: 100%;
                            
                        }
                        
                        
                        .button.emailClib {
                            background: #ffa040;
                            border: 0px;
                        }
                        
                        .botton1 {
                            color: white;
                            background: #ffa040;
                            border: 0px;
                        }
                            
                    }
                
                }
            }
            
            .sectionFooter {
                display: flex;
                justify-content: space-between;
                font-family: 'Inter', sans-serif;
                flex-direction: column;
                .informationEntrepise {
                    padding-top: 7px;
                    padding-bottom: 10px;                    
                    .logoFooter {
                        padding-bottom: 10px;
                        text-align: center;
                    
                    }
                    
                    .informationEnterpise {
                        text-align: center;                       
                        .infEnter {
                            padding-top: 10px;
                            font-family: 'Mulish', sans-serif;
                            margin-bottom: 0px;
                            color: #7d7d7d;
                        }
                    }
                }
                
                .socialMediaContact {
                    display: flex;
                    gap: 10px;
                    text-align: center;
                    
                    .socialMediaContactS {
                        display: flex;
                        justify-items: center;
                        flex-direction: column;
                        width: 100%;
                        
                        .socialSubicon {
                            height: 30px;
                            width: 30px;
                            align-items: center;
                        }
                        
                        .informationBus {
                            padding-top: 8px;
                            padding-left: 4px;
                            width: 100%;
                        }
                    }
                }
                .itemsCaregory{
                    display: flex;
                    
                    .categories {
                        padding-top: 10px;
                        text-align: center;
                        
                        .tittleFooterC {
                            color: #7c667c;
                            font-weight: 700;
                        }
                        
                        .subListFooter {
                            list-style: none;
                            padding: 5px;
                            
                            .subFooter {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                
                                a {
                                    color: #7d7d7d;
                                }
                            }
                            
                            .subFooter:hover {
                                background-color: nth($list: $colores, $n: 1);
                                color: #7c667c;
                                font-weight: 600;
                            }
                        }
                        
                        .textFooter {
                            
                        }
                    }
                    
                    .accountCustomer {
                        padding-top: 10px;
                        text-align: center;
                        
                        .tittleFooterC {
                            color: #7c667c;
                            font-weight: 700;
                        }
                        
                        .subListFooter {
                            list-style: none;
                            padding: 5px;
                            
                            .subFooter {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                
                                a {
                                    color: #7d7d7d;
                                }
                            }
                            
                            .subFooter:hover {
                                background-color: nth($list: $colores, $n: 1);
                                color: #7c667c;
                                font-weight: 600;
                            }
                        }
                        
                        .textFooter {
                            
                        }
                    }
                    
                    .informationCompany {
                        padding-top: 10px;
                        text-align: center;
                        
                        .tittleFooterC {
                            color: #7c667c;
                            font-weight: 700;
                        }
                        
                        .subListFooter {
                            list-style: none;
                            padding: 5px;
                            
                            .subFooter {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                
                                a {
                                    color: #7d7d7d;
                                }
                            }
                            
                            .subFooter:hover {
                                background-color: nth($list: $colores, $n: 1);
                                color: #7c667c;
                                font-weight: 600;
                            }
                        }
                    } 
                }
                .itemsCaregory div:nth-child(-n+2){
                    flex: 1;
                }
                
                    .textFooter {
                        
                    }
                
            }
            
            .socialMedia {
                padding-top: 10px;
                
                div {
                    padding-top: 15px;
                    margin-left: 10px;
                    text-align: center;
                    font-family: 'Mulish', sans-serif;
                    
                    p {
                        margin-bottom: 5px;
                    }
                } 
                
                .socialMediaA {
                    padding-bottom: 10px;
                    text-align: center;
                    padding-top: 0px;
                    
                    .socialIcon {
                        height: 30px;
                    }
                }
            }
            
            .footerCopyrigth {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid grey;
                flex-direction: column;
                
                .copyFooter {
                    padding-top: 10px;
                    text-align: center;
                }
                
                .footerImagePayment {
                    padding-top: 10px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    } 
}


// @media only screen and (min-width: 481px) and (max-width: 620px){
//     @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
//     .homeCentral {
//         display: grid;
//         grid-template-areas:
//         "header"
//         "main"
//         "footer";
//     }
    
//     #footerHome {
//         padding: 0px;
//         margin: 0px;
//         padding-left: 10px;
//         padding-right: 10px;
        
//         .contactForm {
//             display: grid;
//             grid-template-columns: 2fr 2fr;
//             text-align: center;
            
//             .subscribe {
//                 padding-top: 13px;
//             }
            
//             .formSub {
//                 width: 100%;
//                 padding-top: 10px;
                
//                 input {
//                     width: 230px;
                    
//                     .emailCliente {
//                         width: 150px;
//                     }
                    
//                     .emailClib {
                        
//                     }
//                 }
//             }
            
//             .formSuscribe {
//                 .emailClib {
    
//                 }
//             }
//         }
        
//         .sectionFooter {
//             display: grid;
//             grid-template-columns: 3fr 3fr 3fr;
//             justify-items: center;
//             height: 260px;
            
//             .informationEnterprise {
//                 display: none;
                
//                 .logoFooter {
    
//                 }
                
//                 .informationEnterprise {
                    
//                     .infEnter {
    
//                     }
                    
//                     .socialMediaContact {
                        
//                         .socialMediaContactS {
    
//                             .socialSubicon {
    
//                             }
                            
//                             .informationBus {
    
//                             }
                            
//                             .Information_bus {
    
//                             }
//                         }
//                     }
//                 }
//             }
            
//             .categories {
                
//                 .titleFooterC {
    
//                 }
                
//                 .subListFooter textFooter {
                    
//                     .subFooter {
    
//                     }
//                 }
//             }
            
//             .accountCustomer {
                
//                 .titleFooterC {
    
//                 }
                
//                 .subListFooter textFooter {
                    
//                     .subFooter {
    
//                     }
//                 }
//             }
            
//             .informationEmpresa {
                
//                 .titleFooterC {
    
//                 }
                
//                 .subListFooter textFooter {
                    
//                     .subFooter {
    
//                     }
//                 }
//             }
//         }
        
//         .socialMedia {
//             display: flex;
//             justify-content: center;
    
//             div {
//                 padding-top: 0px;
//                 margin-left: 10px;
//                 font-family: 'Mulish', sans-serif;
//             }
            
//             .socialMediaA {
                
//                 .socialIcon {
    
//                 }
//             }
//         }
        
//         .footerCopyrigth {
//             display: grid;
//             width: 100%;
//             justify-content: center;
//             width: 100%;
            
//             .copyFooter {
//                 margin: 0 auto;
//             }
            
//             .footerImagePayment {
    
//             }
//         }
//     }
// }
// @media only screen and (min-width: 621px) and (max-width: 768px){
//     @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
//     .homeCentral {
//         display: grid;
//         grid-template-areas:
//         "header"
//         "main"
//         "footer";
//     }
    
//     #footerHome {
//         padding: 0px;
//         margin: 0px;
//         padding-left: 10px;
//         padding-right: 10px;
        
//         .contactForm {
//             display: grid;
//             grid-template-columns: 2fr 2fr;
//             text-align: center;
            
//             .subscribe {
//                 padding-top: 13px;
//             }
            
//             .formSub {
//                 width: 100%;
//                 padding-top: 10px;
                
//                 input {
//                     width: 230px;
                    
//                     .emailCliente {
//                         width: 150px;
//                     }
                    
//                     .emailClib {
                        
//                     }
//                 }
//             }
            
//             .formSuscribe {
//                 .emailClib {
    
//                 }
//             }
//         }
        
//         .sectionFooter {
//             display: grid;
//             grid-template-columns: 3fr 3fr 3fr;
//             justify-items: center;
//             height: 260px;
            
//             .informationEnterprise {
//                 display: none;
                
//                 .logoFooter {
    
//                 }
                
//                 .informationEnterprise {
                    
//                     .infEnter {
    
//                     }
                    
//                     .socialMediaContact {
                        
//                         .socialMediaContactS {
    
//                             .socialSubicon {
    
//                             }
                            
//                             .informationBus {
    
//                             }
                            
//                             .informationBus {
    
//                             }
//                         }
//                     }
//                 }
//             }
            
//             .categories {
                
//                 .titleFooterC {
    
//                 }
                
//                 .subListFooter textFooter {
                    
//                     .subFooter {
    
//                     }
//                 }
//             }
            
//             .accountCustomer {
                
//                 .titleFooterC {
    
//                 }
                
//                 .subListFooter textFooter {
                    
//                     .subFooter {
    
//                     }
//                 }
//             }
            
//             .informationEmpresa {
                
//                 .titleFooterC {
    
//                 }
                
//                 .subListFooter textFooter {
                    
//                     .subFooter {
    
//                     }
//                 }
//             }
//         }
        
//         .socialMedia {
//             display: flex;
//             justify-content: center;
            
//             div {
//                 margin-left: 10px;
//                 font-family: 'Mulish', sans-serif;
//             }
            
//             .socialMediaA {
                
//                 .socialIcon {
    
//                 }
//             }
//         }
        
//         .footerCopyrigth {
//             display: grid;
//             width: 100%;
//             justify-content: center;
            
//             .copyFooter {
//                 margin: 0 auto;
//             }
            
//             .footerImagePayment {
    
//             }
//         }
//     }
// }    
// @media only screen and (min-width: 769px) and (max-width: 837px){
//     @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
//     .homeCentral {
//         display: grid;
//         grid-template-areas:
//         "header"
//         "main"
//         "footer";
//     }
    
//     #footerHome {
//         padding: 0px;
//         margin: 0px;
//         padding-left: 10px;
//         padding-right: 10px;
        
//         .contactForm {
//             display: grid;
//             grid-template-columns: 2fr 2fr;
//             text-align: center;
            
//             .subscribe {
//                 padding-top: 13px;
//             }
            
//             .formSub {
//                 width: 100%;
//                 padding-top: 10px;
                
//                 input {
//                     width: 230px;
                    
//                     .emailCliente {
//                         width: 150px;
//                     }
                    
//                     .emailClib {
                        
//                     }
//                 }
//             }
            
//             .formSuscribe {
//                 .emailClib {
    
//                 }
//             }
//         }
        
//         .sectionFooter {
//             display: grid;
//             grid-template-columns: 3fr 3fr 3fr 3fr;
//             justify-items: center;
//             height: 260px;
            
//             .informationEnterprise {
                
//                 .logoFooter {
    
//                 }
                
//                 .informationEnterprise {
                    
//                     .infEnter {
    
//                     }
                    
//                     .socialMediaContact {
                        
//                         .socialMediaContactS {
    
//                             .socialSubicon {
    
//                             }
                            
//                             .informationBus {
    
//                             }
                            
//                             .informationBus {
    
//                             }
//                         }
//                     }
//                 }
//             }
            
//             .categories {
                
//                 .titleFooterC {
    
//                 }
                
//                 .subListFooter textFooter {
                    
//                     .subFooter {
    
//                     }
//                 }
//             }
            
//             .accountCustomer {
                
//                 .titleFooterC {
    
//                 }
                
//                 .subListFooter textFooter {
                    
//                     .subFooter {
    
//                     }
//                 }
//             }
            
//             .informationEmpresa {
                
//                 .titleFooterC {
    
//                 }
                
//                 .subListFooter textFooter {
                    
//                     .subFooter {
    
//                     }
//                 }
//             }
//         }
        
//         .socialMedia {
//             display: flex;
//             padding-top: 0px;
//             justify-content: center;
            
//             div {
//                 padding-top: 15px;
//                 margin-left: 10px;
//                 font-family: 'Mulish', sans-serif;
//             }
            
//             .socialMediaA {
                
//                 .socialIcon {
    
//                 }
//             }
//         }
        
//         .footerCopyrigth {
          
//             .copyFooter {
//                 margin: 0 auto;
//             }
            
//             .footerImagePayment {
    
//             }
//         }
//     }
    
// }

