@media only screen and (max-width: 480px){
    .homeCentral{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #principalSection{
            .productosHogar{
                display: grid;
                grid-template-rows: 2fr;
                .navHogar{
                    text-align: center;
                    margin-bottom: 20px;
                    .sectionAsideNav{
                        h1{
                            color: #7c667c;
                            font-family: 'Mulish', sans-serif;
                        }
                    }
                }
                .gridProducts{
                    display: grid;
                    grid-template-columns: 2fr 2fr;
                    .sectionOrder{
        
                    }
                    .sectionProducts{
                        display: inline-flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0px;
                        li{
                            width: 100%; 
                            margin: 7px;  
                            border-radius: 4px;
                            background: white;
                            border: rgb(224 223 220) 2px solid;
                            div{
                                width: 100%;
                                
                                .carrouselImage{
                                    
                                    
                                    width: 100%;
                                    .imagHome{
                                        width: 100%;
                                    }
                                   
                                }
                                .conteItem{
                                   
                                    margin-bottom: 20px;
                                    .titleProduct{
                                        color: #7c667c;
                                        font-family: 'Inter', sans-serif;
                                        font-size: 5vw;
                                        height: 20vw;
                                        p{
                                            margin: 10px;

                                        }
    
        
                                    }
                                    .itemPrice{
                                        .subItemPrice{
                                            color: #7c667c;
                                            font-family: 'Nova Mono', sans-serif;
                                            font-size: 5vw;
                                            margin: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    } 
}
@media (min-width: 481px) and (max-width: 768px){
    .homeCentral{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #principalSection{
            .productosHogar{
                display: grid;
                grid-template-rows: 2fr;
                .navHogar{
                    text-align: center;
                    margin-bottom: 20px;
                    .sectionAsideNav{
                        h1{
                            color: #7c667c;
                            font-family: 'Mulish', sans-serif;
                        }
                    }
                }
                .gridProducts{
                    display: grid;
                    grid-template-columns: 2fr 2fr 2fr;
                    .sectionOrder{
        
                    }
                    .sectionProducts{
                        display: inline-flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0px;
                        li{
                            width: 100%; 
                            margin: 7px;  
                            border-radius: 4px;
                            background: white;
                            border: rgb(224 223 220) 2px solid;
                            div{
                                width: 100%;
                                
                                .carrouselImage{
                                    
                                    
                                    width: 100%;
                                    .imagHome{
                                        width: 100%;
                                    }
                                   
                                }
                                .conteItem{
                                   
                                    margin-bottom: 20px;
                                    .titleProduct{
                                        color: #7c667c;
                                        font-family: 'Inter', sans-serif;
                                        font-size: 3vw;
                                        height: 10vw;
                                        p{
                                            margin: 10px;

                                        }
    
        
                                    }
                                    .itemPrice{
                                        .subItemPrice{
                                            color: #7c667c;
                                            font-family: 'Nova Mono', sans-serif;
                                            font-size: 4vw;
                                            margin: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    } 
}
@media (min-width: 769px) and (max-width: 1024px){
    .homeCentral{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #principalSection{
            .productosHogar{
                display: grid;
                grid-template-rows: 2fr;
                .navHogar{
                    text-align: center;
                    margin-bottom: 20px;
                    .sectionAsideNav{
                        h1{
                            color: #7c667c;
                            font-family: 'Mulish', sans-serif;
                        }
                    }
                }
                .gridProducts{
                    display: grid;
                    grid-template-columns: 2fr 2fr 2fr;
                    gap: 50px;
                    .sectionOrder{
        
                    }
                    .sectionProducts{
                        display: inline-flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0px;
                        li{
                            width: 100%; 
                            margin: 7px;  
                            border-radius: 4px;
                            background: white;
                            border: rgb(224 223 220) 2px solid;
                            div{
                                width: 100%;
                                
                                .carrouselImage{
                                    
                                    
                                    width: 100%;
                                    .imagHome{
                                        width: 100%;
                                    }
                                   
                                }
                                .conteItem{
                                   
                                    margin-bottom: 20px;
                                    .titleProduct{
                                        color: #7c667c;
                                        font-family: 'Inter', sans-serif;
                                        font-size: 2vw;
                                        height: 7vw;
                                        p{
                                            margin: 10px;

                                        }
    
        
                                    }
                                    .itemPrice{
                                        .subItemPrice{
                                            color: #7c667c;
                                            font-family: 'Nova Mono', sans-serif;
                                            font-size: 3vw;
                                            margin: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    } 
}
@media (min-width: 1025px){
    .homeCentral{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #principalSection{
            .productosHogar{
                display: grid;
                grid-template-rows: 2fr;
                .navHogar{
                    text-align: center;
                    margin-bottom: 20px;
                    .sectionAsideNav{
                        h1{
                            color: #7c667c;
                            font-family: 'Mulish', sans-serif;
                        }
                    }
                }
                .gridProducts{
                    display: grid;
                    grid-template-columns: 2fr 2fr 2fr;
                    gap: 50px;
                    .sectionOrder{
        
                    }
                    .sectionProducts{
                        display: inline-flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0px;
                    
                        li{
                            width: 100%; 
                            margin: 7px;  
                            border-radius: 4px;
                            background: white;
                            border: rgb(224 223 220) 2px solid;
                            div{
                                width: 100%;
                                
                                .carrouselImage{
                                    
                                    
                                    width: 100%;
                                    .imagHome{
                                        width: 100%;
                                    }
                                   
                                }
                                .conteItem{
                                   
                                    margin-bottom: 20px;
                                    .titleProduct{
                                        color: #7c667c;
                                        font-family: 'Inter', sans-serif;
                                        font-size: 2vw;
                                        height: 7vw;
                                        p{
                                            margin: 10px;

                                        }
    
        
                                    }
                                    .itemPrice{
                                        .subItemPrice{
                                            color: #7c667c;
                                            font-family: 'Nova Mono', sans-serif;
                                            font-size: 2vw;
                                            margin: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    } 
}