#principalSection{
    .Productos_Hogar{
        display: grid;
        grid-template-columns: 0.2fr 1.9fr;
        .Nav_hogar{
            text-align: center;
            .Section_asideNav{
                h1{
                    color: #7c667c;
                    font-family: 'Mulish', sans-serif;
                }
            }
        }
        .grid_products{  
            .section_order{
            }
            .section_products{
                display: inline-flex;
                flex-direction: row;
                list-style: none;
                li{
                    div{
                        .carrouselImage{
                        }
                        .ConteItem{
                            .TitleProduct{
                                color: #7c667c;
                                font-family: 'Mulish', sans-serif;
                            }
                            .ItemsPrice{
                                .SubItemPrice{
                                    color: #7c667c;
                                    font-family: 'Mingzat', sans-serif;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 480px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #principalSection{
            .Productos_Hogar{
                display: grid;
                grid-template-columns: 2fr;
                .Nav_hogar{
                    text-align: center;
                    margin-bottom: 20px;
                    .Section_asideNav{
                        h1{
                            color: #7c667c;
                            font-family: 'Mulish', sans-serif;
                        }
                    }
                }
                .grid_products{
                    display: grid;
                    grid-template-columns: 2fr 2fr;
                    .section_order{
        
                    }
                    .section_products{
                        display: inline-flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0px;
                        li{
                            width: 95%; 
                            margin: 7px;  
                            border-radius: 4px;
                            background: white;
                            border: rgb(224 223 220) 2px solid;
                            div{
                                
                                .carrouselImage{
                                    
                                    height: 290px;
                                    width: 100%;
                                    .Imag_home{
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                .ConteItem{
                                    margin-left: 20px;
                                    margin-bottom: 20px;
                                    .TitleProduct{
                                        color: #7c667c;
                                        font-family: 'Mulish', sans-serif;
                                        font-size: larger;
    
        
                                    }
                                    .ItemsPrice{
                                        .SubItemPrice{
                                            color: #7c667c;
                                            font-family: 'Mingzat', sans-serif;
                                            font-size: larger;
                                            margin-bottom: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    } 
}
@media only screen and (min-width: 481px) and (max-width: 600px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #principalSection{
            .Productos_Hogar{
                display: grid;
                grid-template-columns: 2fr;
                .Nav_hogar{
                    text-align: center;
                    margin-bottom: 20px;
                    .Section_asideNav{
                        h1{
                            color: #7c667c;
                            font-family: 'Mulish', sans-serif;
        
                        }
                    }
                }
                .grid_products{
                    display: grid;
                    grid-template-columns: 2fr 2fr;
                    .section_order{
        
                    }
                    .section_products{
                        display: inline-flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0px;
                        li{
                            width: 95%; 
                            margin: 7px;  
                            border-radius: 4px;
                            background: white;
                            border: rgb(224 223 220) 2px solid;
                            div{
                                
                                .carrouselImage{
                                    
                                    height: 290px;
                                    width: 100%;
                                    .Imag_home{
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                .ConteItem{
                                    margin-left: 20px;
                                    margin-bottom: 20px;
                                    .TitleProduct{
                                        color: #7c667c;
                                        font-family: 'Mulish', sans-serif;
                                        font-size: larger;
    
        
                                    }
                                    .ItemsPrice{
                                        .SubItemPrice{
                                            color: #7c667c;
                                            font-family: 'Mingzat', sans-serif;
                                            font-size: larger;
                                            margin-bottom: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #principalSection{
            .Productos_Hogar{
                display: grid;
                grid-template-columns: 2fr;
                .Nav_hogar{
                    text-align: center;
                    margin-bottom: 20px;
                    .Section_asideNav{
                        h1{
                            color: #7c667c;
                            font-family: 'Mulish', sans-serif;
        
                        }
                    }
                }
                .grid_products{
                    display: grid;
                    grid-template-columns: 2fr 2fr 2fr;
                    .section_order{
        
                    }
                    .section_products{
                        display: inline-flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0px;
                        li{
                            width: 95%; 
                            margin: 7px;  
                            border-radius: 4px;
                            background: white;
                            border: rgb(224 223 220) 2px solid;
                            div{
                                
                                .carrouselImage{
                                    
                                    height: 290px;
                                    width: 100%;
                                    .Imag_home{
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                .ConteItem{
                                    margin-left: 20px;
                                    margin-bottom: 20px;
                                    .TitleProduct{
                                        color: #7c667c;
                                        font-family: 'Mulish', sans-serif;
                                        font-size: larger;
    
        
                                    }
                                    .ItemsPrice{
                                        .SubItemPrice{
                                            color: #7c667c;
                                            font-family: 'Mingzat', sans-serif;
                                            font-size: larger;
                                            margin-bottom: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #principalSection{
            .Productos_Hogar{
                display: grid;
                grid-template-columns: 2fr;
                .Nav_hogar{
                    text-align: center;
                    margin-bottom: 20px;
                    .Section_asideNav{
                        h1{
                            color: #7c667c;
                            font-family: 'Mulish', sans-serif;
        
                        }
                    }
                }
                .grid_products{
                    display: grid;
                    grid-template-columns: 2fr 2fr 2fr;
                    .section_order{
        
                    }
                    .section_products{
                        display: inline-flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0px;
                        li{
                            width: 95%; 
                            margin: 7px;  
                            border-radius: 4px;
                            background: white;
                            border: rgb(224 223 220) 2px solid;
                            div{
                                
                                .carrouselImage{
                                    
                                    height: 290px;
                                    width: 100%;
                                    .Imag_home{
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                .ConteItem{
                                    margin-left: 20px;
                                    margin-bottom: 20px;
                                    .TitleProduct{
                                        color: #7c667c;
                                        font-family: 'Mulish', sans-serif;
                                        font-size: larger;
    
        
                                    }
                                    .ItemsPrice{
                                        .SubItemPrice{
                                            color: #7c667c;
                                            font-family: 'Mingzat', sans-serif;
                                            font-size: larger;
                                            margin-bottom: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 993px) and (max-width: 1024px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #principalSection{
            .Productos_Hogar{
                display: grid;
                grid-template-columns: 2fr;
                .Nav_hogar{
                    text-align: center;
                    margin-bottom: 20px;
                    .Section_asideNav{
                        h1{
                            color: #7c667c;
                            font-family: 'Mulish', sans-serif;
        
                        }
                    }
                }
                .grid_products{
                    display: grid;
                    grid-template-columns: 2fr 2fr 2fr;
                    .section_order{
        
                    }
                    .section_products{
                        display: inline-flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0px;
                        li{
                            width: 95%; 
                            margin: 7px;  
                            border-radius: 4px;
                            background: white;
                            border: rgb(224 223 220) 2px solid;
                            div{
                                
                                .carrouselImage{
                                    
                                    height: 290px;
                                    width: 100%;
                                    .Imag_home{
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                .ConteItem{
                                    margin-left: 20px;
                                    margin-bottom: 20px;
                                    .TitleProduct{
                                        color: #7c667c;
                                        font-family: 'Mulish', sans-serif;
                                        font-size: larger;
    
        
                                    }
                                    .ItemsPrice{
                                        .SubItemPrice{
                                            color: #7c667c;
                                            font-family: 'Mingzat', sans-serif;
                                            font-size: larger;
                                            margin-bottom: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        #principalSection{
            .Productos_Hogar{
                display: grid;
                grid-template-columns: 2fr;
                .Nav_hogar{
                    text-align: center;
                    margin-bottom: 20px;
                    .Section_asideNav{
                        h1{
                            color: #7c667c;
                            font-family: 'Mulish', sans-serif;
        
                        }
                    }
                }
                .grid_products{
                    display: grid;
                    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
                    .section_order{
        
                    }
                    .section_products{
                        display: inline-flex;
                        flex-direction: row;
                        list-style: none;
                        padding: 0px;
                        li{
                            width: 95%; 
                            margin: 7px;  
                            border-radius: 4px;
                            background: white;
                            border: rgb(224 223 220) 2px solid;
                            div{
                                
                                .carrouselImage{
                                    
                                    height: 290px;
                                    width: 100%;
                                    .Imag_home{
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                                .ConteItem{
                                    margin-left: 20px;
                                    margin-bottom: 20px;
                                    .TitleProduct{
                                        color: #7c667c;
                                        font-family: 'Mulish', sans-serif;
                                        font-size: larger;
    
        
                                    }
                                    .ItemsPrice{
                                        .SubItemPrice{
                                            color: #7c667c;
                                            font-family: 'Mingzat', sans-serif;
                                            font-size: larger;
                                            margin-bottom: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover{
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}